<div class="card">
    <div class="card-body">
        <h1>Conoce más sobre nosotros</h1>
        <p>BeerFerret es el lugar para los amantes de las cervezas y de los hurones (esos pequeños diablillos que nos llenan de emoción). Ya sea por su país de origen, sabor o estilo, contamos con una amplia variedad de cervezas. Aquí podrás conocer más sobre cada una de nuestras cervezas: su estilo, historia, origen y mucho más. No dejes de seguirnos todas nuestras redes sociales para enterarte de todo lo que está pasando en BeerFerret. </p>

        <h1>Misión</h1>
        <p>Se busca ofrecer productos que sobrepasen estándares de calidad, con distinción en sabor, aroma y color, a un precio competitivo. </p>

        <h1>Misión</h1>
        <p>Ser la empresa cervecera de preferencia en todo el mundo de la mano de la personalización y sabor que solo los mejores maestros cerveceros amigos de los hurones puedes ofrecer. Llegando esta forma a todas las regiones en todo el mundo. </p>

        <h1>Valores</h1>
        <ul>
            <li> Servicio al cliente.</li>
            <li> Calidad en productos. </li>
            <li> Mejora continua. </li>
            <li> innovación de procesos. </li>
            <li> Compromiso social y con el medio ambiente. </li>
            <li> Lealtad y fidelidad con los hurones en todo el mundo. </li>

        </ul>

    </div>
</div>