<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-lg p-5">
                <h1 class="text-center mb-5">Conoce más sobre nosotros</h1>
                <p class="lead">ModaBella es la tienda ideal para aquellos que buscan destacar con estilo y elegancia.
                    Nuestra pasión es ofrecerte las últimas tendencias de moda y prendas exclusivas que te hagan sentir
                    única.</p>

                <h2 class="text-center mt-5">Misión</h2>
                <p class="lead">Nuestra misión es ser la marca de moda referente en calidad y diseño, brindando a
                    nuestros clientes una experiencia de compra excepcional y prendas que resalten su belleza y
                    personalidad.</p>

                <h2 class="text-center mt-5">Visión</h2>
                <p class="lead">Queremos ser reconocidos a nivel mundial como una marca líder en moda, que inspire y
                    eleve la confianza de las personas a través de nuestras colecciones innovadoras y servicios
                    personalizados.</p>

                <h2 class="text-center mt-5">Valores</h2>
                <ul class="list-unstyled">
                    <li class="lead"><i class="fas fa-check-circle me-2"></i>Calidad en cada prenda.</li>
                    <li class="lead"><i class="fas fa-check-circle me-2"></i>Servicio al cliente excepcional.</li>
                    <li class="lead"><i class="fas fa-check-circle me-2"></i>Innovación en diseño y tendencias.</li>
                    <li class="lead"><i class="fas fa-check-circle me-2"></i>Sostenibilidad y respeto al medio ambiente.
                    </li>
                    <li class="lead"><i class="fas fa-check-circle me-2"></i>Pasión por la moda y el estilo.</li>
                </ul>
            </div>
        </div>
    </div>
</div>