<div class="card text-center">
  <div class="card-header">
    FerretBeer
  </div>
  <div class="card-body">
    <h5 class="card-title">Cerveza artesanal</h5>
    <p class="card-text">
        
        <p class="card-text" align="justify" > Como su nombre lo indica, la 
        cerveza artesanal es aquella que está elaborada 
        siguiendo una “receta” propia, por maestros 
        cerveceros que le dan un sabor distinto y personal; 
        por lógica su producción es  limitada, ya que se 
        pone especial atención en sabores y texturas 
        distintas a las marcas industriales. </p>
        <b><h6 align="center" >Ventajas de la cerveza artesanal</h6></b>
        Una cerveza artesanal tiene las siguientes ventajas 
        sobre las industriales:
        <ul align="justify" >

        <li> No contiene elementos artificiales, ni en el proceso 
            ni en los ingredientes, el fermentado es natural y 
            los sabores son el resultado de la mezcla de agua, 
            malta, lúpulo y levadura; adicionalmente contiene 
            frutas, especias y hierbas que unidas a la técnica 
            del maestro cervecero, darán un sabor y un aroma único
             y especial a esa cerveza.</li>
        <li> Es innovadora, ya que podemos crear combinaciones 
            de sabores a gusto de nuestros clientes. </li>
        <li> Es independiente y social, ya que al no pertenecer a los 
            grandes corporativos, las ganancias se quedan en la localidad 
            ayudando a su economía. </li>

        </ul>
        
        </p>
        <div class="card" >
              <img src="https://media.gq.com.mx/photos/5fea97d534f0ef41de7cf0fd/16:9/w_2560%2Cc_limit/Cerveza%2520artesanal.jpg" alt="cerveza mexicana">
            </div>
            <br>
    <a href="/tienda" class="btn btn-dark">A comprar</a>
  </div>
</div>
