<div class="card">
  <div class="card-body">
        <h1 class="display-4">PÁGIA INDEX prueba</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit facilis similique voluptatum tempora amet minus dolor, iure eligendi odio. Assumenda eligendi odio itaque iste nostrum sequi pariatur deleniti reiciendis enim. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores at libero, possimus vel molestiae dicta nobis similique repellendus est tempore sapiente nostrum eum fugiat tenetur! Molestias blanditiis animi nulla exercitationem.</p>
    <a href="https://www.facebook.com/swallowerkevin/" class="btn btn-primary btn-lg">facebook</a>
  </div>
</div>