<div class="container-fluid">
  <!--container imagen inicio-->
  <container class="card">
    <div style="text-align: center;">
      <h2 class="card-title">Vestidos para todo tipo de mujer</h2>
    </div>
  </container>
  <div class="card bg-dark">
    <div class="card-img-overlay" style="color: black; font-weight: bold;">
    </div>
    <img
      src="https://media.vogue.mx/photos/5fe298a9b474ba00b80f4454/master/w_3000,h_2000,c_limit/Vestidos-casuales-primavera-verano-2021.jpg"
      class="card-img" alt="minerva">

  </div>
  <!--container imagen final-->

  <!--inicio carrusel-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://laverdadnoticias.com/__export/1588359190553/sites/laverdad/img/2020/05/01/vestidos_primavera-verano.jpg_673822677.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/montaje-novias-1643632582.png" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/t/tendencias-para-otono-2020.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--final carrusel-->

  <!--inicio card-->
  <div class="card-group">
    <div class="card">
      <img
        src="https://images.ctfassets.net/86mn0qn5b7d0/2J4HjNKIxHaZWhqJOWLg1S/b2c06bd1ee4c902bb15c58ae1bfa7a4a/iStock-1280247732.jpg"
        class="card-img-top" alt="..."> <!--primer imagen-->
      <div class="card-body">
        <h5 class="card-title">Paquetes de regalo</h5>
        <p class="card-text">¡Descubre nuestros irresistibles paquetes de regalo de ropa! Diseñados con amor y estilo,
          nuestros paquetes de regalo son la elección perfecta para sorprender a esa persona especial en tu vida.
          Ya sea que estés buscando un regalo para un cumpleaños, aniversario, o simplemente para expresar tu cariño,
          nuestros paquetes de regalo de ropa tienen todo lo que necesitas.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://amp.protocolo.org/extfiles/i-10049-cG.20100.1.jpg" class="card-img-top" alt="...">
      <!--segunda imagen-->
      <div class="card-body">
        <h5 class="card-title">Ropa de importación</h5>
        <p class="card-text">¡Bienvenido al mundo de la moda de importación! Descubre la exclusividad y
          el encanto de nuestras prendas de ropa importadas de los rincones más fascinantes del mundo.
          Sumérgete en un viaje de estilo y sofisticación mientras exploras nuestra amplia selección de ropa
          de importación cuidadosamente seleccionada.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://img.freepik.com/fotos-premium/unete-nosotros-hombre-dos-chicas-sienten-libres-interaccion-hombre-dos-mujeres-grupo-jovenes-disfrutar-vida-todos-dias-grupo-personas-ropa-informal-relaciones-amistad-amor_474717-26281.jpg?w=996"
        class="card-img-top" alt="...">
      <!--tercer imagen-->
      <div class="card-body">
        <h5 class="card-title">Unete a nosotros</h5>
        <p class="card-text">Bienvenido a nuestra plataforma de moda exclusiva. Aquí, cada paso que des te
          acerca a un mundo lleno de estilo y oportunidades. Regístrate o inicia sesión para desbloquear
          todas las características y beneficios que tenemos para ofrecerte.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
  <!--final card-->
</div>