
<div class="container-fluid">
<!--container imagen inicio-->
  <div class="card bg-dark text-white">
  <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/f6/97/d5/hamburguesa-de-jugosa.jpg" class="card-img" alt="minerva">
  <div class="card-img-overlay">
    <h5 class="card-title">Cerveza Minerva</h5>
    <p class="card-text">La verceza más esperada por todo México</p>
    <p class="card-text">¿Te animas a comprarla?</p>
  </div>
</div>
<!--container imagen final-->

<!--inicio carrusel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://labodega.consum.es/public/Image/2020/7/Cuerpo_Bodega_ExtraGran_ExtraGrande.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://as01.epimg.net/buenavida/imagenes/2017/03/14/portada/1489505320_130097_1489505707_noticia_normal.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.blogs.es/e07156/istock-516249343/450_1000.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <!--final carrusel-->

  <!--inicio card-->
<div class="card-group">
  <div class="card">
    <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2021/10/regalos-con-cerveza-six-pack-whisky-chivas-regal-18-full.jpg" class="card-img-top" alt="..."> <!--primer imagen-->
    <div class="card-body">
      <h5 class="card-title">Paquetes de regalo</h5>
      <p class="card-text">Lo nuevo en  Cervexxa, packs de regalo con destilados y cervezas artesanales. 
        Además una práctica canastilla en MDF para six pack personalizada con el nombre del festejado o 
        logotipos de empresa. Descubre las opciones que te ofrecemos con tequila, mezcal, whisky, bourbon, ron o vodka. </p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2022/08/featured-ayinger-640.jpg" class="card-img-top" alt="..."> <!--segunda imagen-->
    <div class="card-body">
      <h5 class="card-title">Cerveza alemana</h5>
      <p class="card-text">Alemania tiene la fama de ser un país consumidor de cerveza, y es por tradición uno de los países
         más cerveceros del mundo, tanto en elaboración como en consumo per cápita. La cerveza alemana más popular es la pilsner, 
         con un 70 por ciento del mercado.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://m.media-amazon.com/images/I/711wuYKGGWS._AC_SX522_.jpg" class="card-img-top" alt="..."> <!--tercer imagen-->
    <div class="card-body">
      <h5 class="card-title">Club de la cerveza</h5>
      <p class="card-text">Nuestro programa de subscripción mensual, es ideal si quieres 
        descubrir nuevas marcas y disfrutar tus cervezas poco a poco durante el mes o bien 
        compartirlas con tus amigos.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
  <!--final card-->



</div>

