<div class="card text-center">
  <div class="card-header">
    FerretBeer
  </div>
  <div class="card-body">
    <h5 class="card-title">Cervezas mexicanas</h5>
    <p class="card-text">
        
        <p class="card-text" align="justify" > Las cervezas mexicanas tienen larga historia como bebida
          fermentada tras la llegada de los conquistadores europeos a América. México es hoy uno de los 
          principales exportadores de cerveza del mundo, pero su tradición cervecera viene de hace muchísimo
           tiempo. La Unesco posiciona al país como el sexto lugar a nivel mundial en consumo de cerveza, ingiriendo
            por persona anualmente 62 litros, quedando por debajo de España con 66 litros, Inglaterra con 103 litros,
             Alemania con 131 litros y República Checa con 169 litros. </p>
        <b><h6 align="center" >Un poco de historia</h6></b>
        
        <p align="justify" >Veinte años después de la caída de Tenochtitlán, se fundó en el Virreinato de Nueva España la primera fábrica 
        de cerveza del continente americano. Hace tiempo, la mayoría de las cervezas antes mexicanas fueron producidas 
        por dos gigantes de la cerveza, Cuauhtemoc Moctezuma y Grupo Modelo. Dichos grupos cerveceros forman parte de 
        la holandesa Heineken y la belga InBev, respectivamente.
        Alguna vez fueron: </p>
        
        <div class="container" align="justify">
        <li > Cervecería Cuauhtémoc Moctezuma con sus marcas: Tecate, Tecate light, Sol, Sol Limón y Sal, Sol Cero, 
          Dos Equis, Dos Equis Ámbar, Carta Blanca, Carta Light, Superior, Indio, Bohemia Clásica y Oscura, 
          Noche Buena y Kloster.</li>
        <li > Grupo Modelo con marcas de una mayor parte del mercado de exportación con la cerveza Corona, Corona Light, 
          Negra Modelo, Modelo Especial, Modelo Light y Pacífico, y sus Marcas locales como Estrella, Montejo, Victoria,
          León, Barrilito y Tropical Light.</li>
        <li > Es independiente y social, ya que al no pertenecer a los 
            grandes corporativos, las ganancias se quedan en la localidad 
            ayudando a su economía. </li>
        </p>
        <p>
          Las marcas de cerveza destinada exclusivamente para el mercado interno son: 
        </p>
        
            <li> Victoria </li>
            <li> Estrella </li>
            <li> Montejo </li>
            <li> León </li>
            <div class="card">
              <img src="https://cdn.foodandwineespanol.com/2018/02/41006449_m.jpg" alt="cerveza mexicana">
            </div>
        </div>
        <br>
    <a href="/tienda" class="btn btn-dark">A comprar</a>
  </div>
</div>
