<!--final
<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/716VOdaLzYL._AC_SX522_.jpg"
        alt="cerveza artesanal">
      <div class="card-body">
        <h5 class="card-title">Cerveza artezanal</h5>
        <p class="card-text">Como su nombre lo indica, la cerveza artesanal es aquella que
          está elaborada siguiendo una “receta” propia, por maestros cerveceros que le dan un sabor distinto
          y personal; por lógica su producción es limitada, ya que se pone especial atención en sabores y texturas
          distintas a las marcas industriales. Ventajas de la cerveza artesanal Una […]</p>
        <a href="/artesanal">
          <button type="button" class="btn btn-link">¿quieres saber más?</button>
        </a>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=" https://cdn.foodandwineespanol.com/2018/02/41006449_m.jpg " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cerveza mexicana</h5>
        <p class="card-text">En México se elabora una amplia gama y variedad de cervezas,
          y algunas de ellas son las cervezas más vendidas en mercados fuera de México,
          incluidos EE. UU., Canadá, Europa y Australasia.</p>
        <a href="/mexicana">
          <button type="button" class="btn btn-link">¿quieres saber más?</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=" https://http2.mlstatic.com/D_NQ_NP_823298-MLM48610847754_122021-V.jpg "
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Datos curiosos sobre las cervezas</h5>
        <p class="card-text"> Seguro que tienes claro cuál es tu cerveza favorita, cuándo fue la última vez que te
          tomaste una e
          incluso con quién compartiste ese momento. Pero seguro que hay muchos datos sobre esta bebida que no sabías.
        </p>
        <a href="/datos">
          <button type="button" class="btn btn-link">¿quieres saber más?</button>
        </a>
      </div>
    </div>
  </div>
</div>

 carrusel-->

<!--inicio card-->
<div class="card-group">
  <div class="card">
    <img
      src="https://images.ctfassets.net/86mn0qn5b7d0/2J4HjNKIxHaZWhqJOWLg1S/b2c06bd1ee4c902bb15c58ae1bfa7a4a/iStock-1280247732.jpg"
      class="card-img-top" alt="..."> <!--primer imagen-->
    <div class="card-body">
      <h5 class="card-title">Paquetes de regalo</h5>
      <p class="card-text">¡Descubre nuestros irresistibles paquetes de regalo de ropa! Diseñados con amor y estilo,
        nuestros paquetes de regalo son la elección perfecta para sorprender a esa persona especial en tu vida.
        Ya sea que estés buscando un regalo para un cumpleaños, aniversario, o simplemente para expresar tu cariño,
        nuestros paquetes de regalo de ropa tienen todo lo que necesitas.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://amp.protocolo.org/extfiles/i-10049-cG.20100.1.jpg" class="card-img-top" alt="...">
    <!--segunda imagen-->
    <div class="card-body">
      <h5 class="card-title">Ropa de importación</h5>
      <p class="card-text">¡Bienvenido al mundo de la moda de importación! Descubre la exclusividad y
        el encanto de nuestras prendas de ropa importadas de los rincones más fascinantes del mundo.
        Sumérgete en un viaje de estilo y sofisticación mientras exploras nuestra amplia selección de ropa
        de importación cuidadosamente seleccionada.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://img.freepik.com/fotos-premium/unete-nosotros-hombre-dos-chicas-sienten-libres-interaccion-hombre-dos-mujeres-grupo-jovenes-disfrutar-vida-todos-dias-grupo-personas-ropa-informal-relaciones-amistad-amor_474717-26281.jpg?w=996"
      class="card-img-top" alt="...">
    <!--tercer imagen-->
    <div class="card-body">
      <h5 class="card-title">Unete a nosotros</h5>
      <p class="card-text">Bienvenido a nuestra plataforma de moda exclusiva. Aquí, cada paso que des te
        acerca a un mundo lleno de estilo y oportunidades. Regístrate o inicia sesión para desbloquear
        todas las características y beneficios que tenemos para ofrecerte.</p>
      <a class="btn btn-primary" href="/users/signin" role="button">Inicio de sesión</a>
      <a class="btn btn-success" href="/users/signup" role="button">Registro</a>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
<!--final card-->