<div class="container">

    <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://m.media-amazon.com/images/I/716VOdaLzYL._AC_SX522_.jpg" alt="cerveza artesanal">
    <div class="card-body">
      <h5 class="card-title">Cerveza artezanal</h5>
      <p class="card-text">Como su nombre lo indica, la cerveza artesanal es aquella que 
        está elaborada siguiendo una “receta” propia, por maestros cerveceros que le dan un sabor distinto
         y personal; por lógica su producción es  limitada, ya que se pone especial atención en sabores y texturas
          distintas a las marcas industriales. Ventajas de la cerveza artesanal Una […]</p>
          <a href="/artesanal">
            <button type="button" class="btn btn-link" >¿quieres saber más?</button>
          </a>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=" https://cdn.foodandwineespanol.com/2018/02/41006449_m.jpg " alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cerveza mexicana</h5>
      <p class="card-text">En México se elabora una amplia gama y variedad de cervezas, 
        y algunas de ellas son las cervezas más vendidas en mercados fuera de México, 
        incluidos EE. UU., Canadá, Europa y Australasia.</p>
     <a href="/mexicana">
            <button type="button" class="btn btn-link" >¿quieres saber más?</button>
          </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=" https://http2.mlstatic.com/D_NQ_NP_823298-MLM48610847754_122021-V.jpg " alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Datos curiosos sobre las cervezas</h5>
      <p class="card-text"> Seguro que tienes claro cuál es tu cerveza favorita, cuándo fue la última vez que te tomaste una e 
        incluso con quién compartiste ese momento. Pero seguro que hay muchos datos sobre esta bebida que no sabías. </p>
        <a href="/datos">
            <button type="button" class="btn btn-link" >¿quieres saber más?</button>
          </a>
    </div>
  </div>
</div>
</div>
