<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2022/01/calavera-mexican-imperial-stout-300x300.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;" >Cerveza calavera</h5>
        <p class="card-text" style="text-align: justify;" >
            Te ofrecemos distintos estilos de cervezas artesanales. 
            Puedes elegir entre una gran variedad de cervecerías mexicanas. 
            Busca tu cerveza Calavera preferida. Encuentra diferentes tipos de cervezas mexicanas de Ciudad de México.  
            Tus chelas favoritas en la tienda en línea cervexxa.mx. Enviamos cervezas artesanales a domicilio a todo el país con formas de pago seguras. 
            Compra fácilmente.  Tienda de cervezas mexicanas.
        </p>
      </div>
      <div class="card-footer" style="text-align: center;" >
        <div class="btn-group">

<div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 90</a>
</div>

</div>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2022/08/Chaneque-chocolate-stout.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="text-align: center;" >Chaneque chocolate stout</h5>
        <p class="card-text"  style="text-align: justify;" >Color oscuro. Notas a Chocolate, 
            canela, caramelo tostado, licor, avellana. 
            Con una sensación a cuerpo medio, cremoso y con una aroma a 
            chocolate, café, caramelo tostado.</p>
      </div>
      <div class="card-footer"  style="text-align: center;" >
        <div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 65</a>
</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2022/04/chanque-hinojona.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;" >Chaneque Hinojona colaboración buscapleitos</h5>
        <p class="card-text" style="text-align: justify;" >Cerveza ligera, de color amarillo turbio aportado 
            por el trigo, con notas a cascara de naranja y semilla de cilantro, 
            un sabor especiado aportado por la levadura belga y el hinojo.</p>
      </div>
      <div class="card-footer" style="text-align: center;" >
                <div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 74</a>
</div>
      </div>
    </div>
  </div>
</div>
<br>
<!--segunda fila-->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2022/02/chaneque-hoppy.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;" >Chaneque Hoppy blonde</h5>
        <p class="card-text" style="text-align: justify;" >
            Cerveza Chaneque Hoppy Blonde. Cerveza con aroma
             y sabor a malta, naranja y cítricos , con cuerpo ligero,
              carbonatación ligera. Retrogusto a notas florales y a mandarina.
               De color café claro.
        </p>
      </div>
      <div class="card-footer" style="text-align: center;" >
        <div class="btn-group">

<div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 60</a>
</div>

</div>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2021/12/chaneque-imperial-red.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"  style="text-align: center;" >Chaneque imperial Red Ale</h5>
        <p class="card-text"  style="text-align: justify;" >Color rojizo, cuerpo ligero, 
            amargor medio y espuma arenosa. Con aroma floral, seguido de notas dulces y 
            acompañadas de tintes especiados con un final acaramelado.</p>
      </div>
      <div class="card-footer"  style="text-align: center;" >
        <div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 65</a>
</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://www.cervezaartesanalmexicana.mx/wp-content/uploads/2021/12/chaneque-winter-ale.jpg.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;" >Chaneque Session Winter Ale</h5>
        <p class="card-text" style="text-align: justify;" >Cerveza rojiza de cuerpo ligero y elegante. Notas a caramelo, canela,
             ponche, miel, palanqueta, anís estrella. Sabor a piloncillo, azúcar quemada, canela, vainilla, anís estrella, tejocote,
              caramelo. Sensación cremosa y suave.</p>
      </div>
      <div class="card-footer" style="text-align: center;" >
                <div class="btn-group">
  <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>
  
  <a href="#" class="btn btn-primary">$ 100</a>
</div>
      </div>
    </div>
  </div>
</div>