<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://http2.mlstatic.com/D_NQ_NP_884874-MLM43386522539_092020-O.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Playera gotica</h5>
        <p class="card-text" style="text-align: justify;">
          En un mundo oscuro y misterioso, donde la elegancia se fusiona con la rebeldía,
          nace nuestra icónica playera gótica. Sumérgete en la esencia de la noche y explora
          tu lado más oscuro con esta prenda única.
        </p>
      </div>
      <div class="card-footer" style="text-align: center;">
        <div class="btn-group">
          <div class="btn-group">
            <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>

            <a href="#" class="btn btn-primary">$ 190</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://m.media-amazon.com/images/I/41Sa+VHcHgL._AC_SY400_.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Verdusa playera clasica chocolate</h5>
        <p class="card-text" style="text-align: justify;">En el encantador y cálido mundo de la moda,
          nuestra clásica playera Verdusa de chocolate se destaca como una deliciosa y atemporal elección.
          Con su tono rico y profundo, esta playera te invita a disfrutar de un estilo sofisticado y versátil.</p>
      </div>
      <div class="card-footer" style="text-align: center;">
        <div class="btn-group">
          <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>

          <a href="#" class="btn btn-primary">$ 265</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://i.pinimg.com/736x/39/c5/f8/39c5f86fa6aff498c369f8f980baafb1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Vestido ochentero mujer</h5>
        <p class="card-text" style="text-align: justify;">En un mundo lleno de colores vibrantes,
          energía positiva y espíritu libre, nuestro vestido hippie para mujer te transporta a una
          época de paz, amor y autenticidad. Con su estilo bohemio y su aire despreocupado,
          este vestido es un reflejo de la belleza natural y la conexión con la madre tierra.</p>
      </div>
      <div class="card-footer" style="text-align: center;">
        <div class="btn-group">
          <a href="#" class="btn btn-primary active" aria-current="page">Comprar</a>

          <a href="#" class="btn btn-primary">$ 274</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--segunda fila-->