<div class="login-box">
  <img class="avatar"
    src="https://marketplace.canva.com/EAFSh-LGohc/2/0/1600w/canva-logotipo-tienda-de-ropa-femenino-rosa-klKp-sxCTdQ.jpg"
    alt="logo_ferret">
  <h1>Registro de usuarios</h1>
  <form class="form-group" action="/users/signup" method="post"><!---En action ponemos la ruta donde nos va a enviar->
            <!--Nombre-->
    <!--<label for="Nombre">Nombre</label>-->
    <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre" value="{{name}}">
    <!--Correo-->
    <!--<label for="PASSWORD">Contraseña</label>-->
    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
    <!--PASSWORD-->
    <!--<label for="PASSWORD">Contraseña</label>-->
    <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
    <!--PASSWORD-->
    <!--<label for="PASSWORD">Contraseña</label>-->
    <input type="password" class="form-control" name="confirm_password" placeholder="Contraseña"
      value="{{confirm_password}}">

    <!--BOTÓN DE LOGIN-->
    <input type="submit" value="Registro" class="btn btn-primary btn-block">

    <!--ENLACES DE MI CUENTA-->
    <a href="#">¿Perdiste tu clave pequeño hurón?</a><br>

    <a href="#">UPS . . . ¿No tienes una cuenta?</a>

  </form>
</div>


<div class="container">
  <div class="card-body" style="padding: 30%;">

  </div>
</div>